@import '../partials/variables';

nav {
  padding: 2rem 2.8rem 2rem 2.8rem;
  display: grid;
  grid-template-columns: auto 3fr auto;
  text-transform: uppercase;
  letter-spacing: 0.1rem;

  section#brand {
    div.brand-item {
      display: block;
      color: $primary-color;
      font-weight: 800;
      font-size: 1.2rem;
      transition: all 300ms ease-in-out;

      &:hover {
        color: #fff;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
      }
    }
  }
  section#nav {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 2rem;
    margin-top: 0.3rem;
    div.nav-item {
      display: inline-block;
      text-align: right;
      vertical-align: middle;

      a {
        text-decoration: none;
        color: $primary-color;
        position: relative;
        padding-bottom: 0.1rem;
        transition: all 100ms ease-in-out;

        &:hover {
          color: #fff;
          -webkit-animation: glow 1s ease-in-out infinite alternate;
          -moz-animation: glow 1s ease-in-out infinite alternate;
          animation: glow 1s ease-in-out infinite alternate;
        }
      }
    }
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073,
      0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 15px #ff4da6, 0 0 20px #ff4da6,
      0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 35px #ff4da6, 0 0 40px #ff4da6;
  }
}
