section#projects {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 1rem;
  margin-top: 5rem;

  .banner {
    font-size: 2rem;
    font-weight: 800;
    color: #ffffff;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;

    .project {
      background-color: #333333;
      padding-bottom: 1rem;
      box-shadow: 0.3rem 0.3rem 0.7rem #010101;
      border-radius: 0.5rem;

      .title {
        padding: 2rem;
        background-color: #000000;
        font-size: 1.5rem;
        font-weight: 800;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        box-shadow: 0 0.5rem 1rem -1rem #000000;
      }

      .stack {
        display: inline-flex;
        .stack-item {
          padding: 0.7rem;
          margin-right: 0.5rem;
          background-color: #000000;
          border-radius: 0.5rem;
          color: #ffffff;
          font-size: 0.8rem;
        }
      }

      .link-wrapper {
        display: inline-flex;
        a {
          padding: 1rem;
          color: #ffffff;
          display: grid;
          grid-template-columns: auto auto;
          column-gap: 0.5rem;
          height: 100%;
          margin-right: 0.5rem;
          border-radius: 0.5rem;
          span {
            vertical-align: text-top;
            font-weight: 700;
          }

          &.repository {
            background-color: green;
          }

          &.website {
            background-color: lightseagreen;
            &.archived {
              background-color: #000000;
            }
          }

          &:hover {
            filter: brightness(80%);
          }

          box-shadow: 0.2rem 0.2rem 0.5rem #232323;
        }
      }

      .stack,
      .description,
      .link-wrapper {
        padding: 0 2rem 0 2rem;
        margin: 0.5rem 0 0.5rem 0;
      }
    }
  }
}
