@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,800&display=swap');

$main-font: 'Open Sans', Helvetica, Arial, sans-serif;
$head-wt: 800;
$body-wt: 600;

$color1: rgba(30, 21, 42, 1);
$color2: rgb(79, 15, 80);
$color4: rgb(255, 0, 106);
$color3: rgb(255, 0, 64);
$color5: rgba(255, 255, 242, 1);

$foreground-color: $color5;
$background-color: $color1;
$primary-color: $color3;
$secondary-color: $color2;
$tertiary-color: $color4;
