@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,800&display=swap');

$main-font: 'Open Sans', Helvetica, Arial, sans-serif;
$head-wt: 800;
$body-wt: 600;

$color1: rgba(30, 21, 42, 1);
$color2: rgba(123, 40, 125, 1);
$color3: rgba(229, 99, 153, 1);
$color4: rgba(227, 74, 111, 1);
$color5: rgba(255, 255, 242, 1);

$foreground-color: $color5;
$background-color: $color1;
$primary-color: $color3;
$secondary-color: $color2;
$tertiary-color: $color4;
